<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meyou.ssss.dao.ScreenshotsMapper">
    <resultMap id="joinScreenshotInfoResult" type="com.meyou.ssss.domain.Screenshots">
        <id column="scrnsht_ID" property="scrnshtId" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="submitted" property="submitted" jdbcType="BIT"/>
        <result column="taskID_scrnsht" property="taskidScrnsht" jdbcType="BIGINT"/>
        <result column="studentID_scrnsht" property="studentidScrnsht" jdbcType="BIGINT"/>

        <association property="student" javaType="com.meyou.ssss.domain.Student">
            <id column="stu_id" property="stuId" jdbcType="BIGINT"/>
            <result column="stu_name" property="stuName" jdbcType="VARCHAR"/>
            <result column="grade" property="grade" jdbcType="INTEGER"/>
            <result column="monitorID_stu" property="monitoridStu" jdbcType="BIGINT"/>
            <result column="collegeName_stu" property="collegenameStu" jdbcType="VARCHAR"/>
            <result column="majorName_stu" property="majornameStu" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
</mapper>